# SQL Server configuration
MSSQL_USER=<MSSQL_USER>
MSSQL_PASSWORD=<MSSQL_PASSWORD>
MSSQL_HOST=<MSSQL_HOST>
MSSQL_PORT=1433
MSSQL_DATABASE=<MSSQL_DATABASE>
MSSQL_ENCRYPT=false
MSSQL_TRUST_CERT=true

# Backend port (optional)
PORT=3000
